

<header class="bar bar-nav">
    <h1 class="title">Pick Your Crew</h1>

</header>






    <div id="crewClone" class="table-view-cell  ">



        <img id="crewface" class="media-object pull-left" src="http://media-cache-ak0.pinimg.com/45x45/58/23/27/58232790de6007a03b2e057ff23cec4e.jpg">

        <h4 id="crewName" align="center">Stacy Holzman</h4>

        <button href="" class="toggle ">ADD</button>


    </div>



    <div class="table-view-cell">

        <img class="media-object pull-left" src="http://s.huffpost.com/contributors/jonathan-alpert/headshot.jpg"> <h4 align="center">BOB Rivera</h4>
        <button class="toggle" data-id="5"   >ADD</button>

    </div>

    <div class="table-view-cell">

        <img class="media-object pull-left" src="http://media-cache-ak0.pinimg.com/45x45/96/b2/04/96b2044c77b310436d6f326374effaba.jpg"> <h4 align="center">Jackie Chan</h4>
        <button class="toggle  " data-id="35">ADD</button>

    </div>

    <div class="table-view-cell">

        <img class="media-object pull-left" src="http://media-cache-ec0.pinimg.com/45x45/1e/dd/db/1edddb7871a6422ef2519c3c7b930558.jpg"> <h4 align="center">David Bowie</h4>
        <button class="toggle  " data-id="52">ADD</button>

    </div>


    <div class="table-view-cell">

        <img class="media-object pull-left" src="http://i.huffpost.com/gadgets/slideshows/264640/slide_264640_1783035_sq50.jpg"><h4 align="center">Gregorio Rojas</h4>
        
        <button class="toggle  " data-id="335">ADD</button>
    </div>

    <div>

        <button type="submit" class="btn btn-primary btn-block addContact "> Submit</button>

    </div>

    
</body>


@section scripts{

    <script type="text/javascript">

        var fmid = {
            page: { handlers: {} }, services: {}, layout: { handlers: {} }
        };


        fmid.page.selected = {};


        fmid.page.startUp = function () {

            $('.addContact').on('click', fmid.page.mapMyCrew);

            $('button.toggle').on('click', fmid.page.selecctItem);
        }

        fmid.page.selecctItem = function ()
        {
            if ($(this).hasClass("active"))
            {
               // fmid.page.selected[$(this).attr("data-id")] = null;

                delete fmid.page.selected[$(this).attr("data-id")];

                $(this).removeClass("active");
            }
            else {
                fmid.page.selected[$(this).attr("data-id")] = $(this).attr("data-id");
                $(this).addClass("active");
            }

           
        }


        fmid.page.mapMyCrew = function (data) {
            var newArray = $.map(data.items, findMe.page.handlers.addMyCrew);
            return newArray
        }


        fmid.page.handlers.addMyCrew = function (oneCrewMember, idx) {
            var newitem = {
                targetURL: "/contacts/" + oneCrewMember.userId
                , image: oneCrewMember.photo
                , name: oneCrewMember.name

            };
            return newitem;
        }

        fmid.page.renderCrewMemeber = function (data) {
            var crewData = fmid.page.mapMyCrew(data);
            for (var i = 0; i < crewData.length; i++) {

                var currentCrewMember = crewData[i];

                var clone = $('#crewClone').clone();

                var imgUrl = "http://media-cache-ec0.pinimg.com/45x45/1e/dd/db/1edddb7871a6422ef2519c3c7b930558.jpg" + oneCrewMember.photo;

                $(".crewface", clone).attr("src", imgUrl)

                var targetElement = $("#crewClone");
                $(".crewName", clone).text(currentCrewMember.name);

                $(targetElement).append(clone);
            }
            }
        




</script>

}

