@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Model NotificationViewModel*@

<nav class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
        <span class="icon icon-left-nav"></span>
        Left
    </button>
    <h2 class="title" style="text-align:center;">Confirmation</h2>
</nav>
<p>The following people have been confirmed.</p>
<ul>
    @*@{
        int i = 0;
        foreach (var contact in Model.users)
        {
            <li>@contact.name</li>
            <li class="hidden">@contact.number</li>

        }
    }*@

    <li>Name One</li>
    <li>Name Two</li>
    <li>Name Three</li>
    <li>Name Four</li>
    <li>Name Five</li>
</ul>
<p>
    Nunc in ultrices turpis, et dignissim justo. Phasellus ante ex, eleifend
    a nunc et, rhoncus bibendum felis. Sed efficitur velit a metus vestibulum
    suscipit. Quisque eget quam fringilla, pulvinar orci eget, placerat nulla.
    Morbi ullamcorper nunc elit, ut semper dolor tempus non.
</p>

@*<script>
    var users;
    var i = 0;
    $.each(users, function (i, users) {

        setTimeout(popUser, Math.floor(Math.random(i) * 1000))
    }(+i));
</script>*@