@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  Web_App.Models.NotificationViewModel
    <nav class="bar bar-standard ">
        
            <a class="btn btn-link btn-nav pull-left" href="@Url.Action("Homepage","Homepage")">
                <span class="icon icon-left-nav"></span>
            </a>

       
        <h2 class="title" >Confirmation</h2>
    </nav>
<div class="buffer">
    <p>The following people have been sent an invitation.</p>
    <ul class="table-view">
        @{
            foreach (var contact in Model.Users)
            {
                <li class="table-view-cell" data-number="@contact.Number">@contact.Name</li>
            }
        }


    </ul>
    <p>
        Nunc in ultrices turpis, et dignissim justo. Phasellus ante ex, eleifend
        a nunc et, rhoncus bibendum felis. Sed efficitur velit a metus vestibulum
        suscipit. Quisque eget quam fringilla, pulvinar orci eget, placerat nulla.
        Morbi ullamcorper nunc elit, ut semper dolor tempus non.
    </p>
</div>

@*<script>
    var users;
    var i = 0;
    $.each(users, function (i, users) {

        setTimeout(popUser, Math.floor(Math.random(i) * 1000))
    }(+i));
</script>*@