
@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>
<p>The following people have been confirmed.</p>
<ul>
    <li>Name One</li>
    <li>Name Two</li>
    <li>Name Three</li>
    <li>Name Four</li>
    <li>Name Five</li>
</ul>

