
@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="bar bar-nav">
    <button class="btn btn-link btn-nav pull-left">
        <span class="icon icon-left-nav"></span>
        Left
    </button>
    <button class="btn btn-link btn-nav pull-right">
        Right
        <span class="icon icon-right-nav"></span>
    </button>
    <h2 class="title" style="text-align:center;">Confirmation</h2>
</header>
    <p>The following people have been confirmed.</p>
    <ul>
        <li>Name One</li>
        <li>Name Two</li>
        <li>Name Three</li>
        <li>Name Four</li>
        <li>Name Five</li>
    </ul>
<p>
    Nunc in ultrices turpis, et dignissim justo. Phasellus ante ex, eleifend
    a nunc et, rhoncus bibendum felis. Sed efficitur velit a metus vestibulum
    suscipit. Quisque eget quam fringilla, pulvinar orci eget, placerat nulla.
    Morbi ullamcorper nunc elit, ut semper dolor tempus non.
</p>

  