
@{
    ViewBag.Title = "Crew";
}

<header class="bar bar-nav">
    <a href="/homepage/homepage" id="home" class="btn btn-negative pull-left">
        Home
    </a>
    
    <h1 class="title">My Crew</h1>
</header>
<br />

<br /><body>

    <ul id="crew" class="table-view">
        <li id="crewClone" class="table-view-cell partCrew"><span class="crewName"></span><button class="btn num" data-id="2">Request</button></li>
      
    </ul>
    <br />
    <br />
    <br />
    <br />
    <br />
   

</body>

@section scripts{

<script>

    var findMe = { page: { handlers: {} }, services: {} };


    findMe.page.startUp = function () {

       
        var myCrew = [{ name: 'Bozo', id: 99 }, { name: 'Sandy', id: 33 }];

        findMe.page.confirm(myCrew);

    }
    
    findMe.page.confirm = function(crew){

      

        var targetList = $("#crew");

        for (var i = 0; i < crew.length; i++) {

            var clone = $("#crewClone").clone();
            clone.removeAttr("id");

            $(".crewName", clone).text(crew[i].name);

            clone.appendTo(targetList);



        }

        

        



    }


    $(document).ready(findMe.page.startUp);




</script>

}
