<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Find Me I'm Drunk</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Include the compiled Ratchet CSS -->
   @Styles.Render("/Content/css")

</head>
<body>
    <div class="content">
        @RenderBody();
        <p class="content-padded">Thanks for downloading Ratchet. This is an example HTML page that's linked up to compiled Ratchet CSS and JS, has the proper meta tags and the HTML structure. Need some more help before you start filling this with your own content? Check out some Ratchet resources:</p>
      
        </div>
    <!-- Include the compiled Ratchet JS -->
     @Scripts.Render("_bundles/ratchet")
     @RenderSection("scripts", required: false)
</body>
</html>