<div class="card">
    <form id="signUp">
        <input type="text" name="name" value="" placeholder="Name" />
        <input type="tel" name="phone" value="" placeholder="Phone Number" />
        <button type="submit" class="btn btn-positive sign-up" data-transition="fade" target="_blank">Sign Up</button>
    </form>
</div>
<div>
   
</div>
@section Scripts{
    <script>
        var wireCookie = function () {
            var numerics = localStorage.getItem('phone')
            if (numerics = null) {
                $("form").submit(
                                 function (e) {
                                     var formData = $("#signUp").serializeArray();
                                     console.log(formData);
                                     e.preventDefault();
                                     jQuery.each(
                                         formData, function (i, formData) {
                                             localStorage.setItem(formData.name, JSON.stringify(formData.value))
                                             location.href ="/Homepage/Homepage.html"
                                         }

                                         )
                                 }
              )
            } else {
                var user = localStorage.getItem('name').toString();
                $(".card").html(" ");

                $(".card").append("Welcome back" + user + "!")
                setInterval(location.href = "/homepage/HomePage", 40000);
            }
        };
        $(document).ready(wireCookie);
    </script>
} 