<div class="card">
    <form class="signUp">
        <input type="text" name="name" value="" placeholder="Name" />
        <input type="tel" name="phone" value="" placeholder="Phone Number" /><br />
        <button type="submit" class="btn btn-block btn-positive sign-up" data-transition="fade" target="_blank">Sign Up</button>
    </form>
</div>
<div>
   
</div>
@section Scripts{
    <script>
        var wireCookie = function () {  
            var numerics = sessionStorage.getItem('phone');
            if (!numerics) {
                $("form").submit(
                                 function (e) {
                                     var formData = $(".signUp").serializeArray();
                                     console.log(formData);
                                     e.preventDefault();
                                     jQuery.each(
                                         formData, function (i, formData) {
                                             sessionStorage.setItem(formData.name, JSON.stringify(formData.value))
                                             location.href = "@Url.Action("Homepage", "Homepage")";
                                         }

                                         )
                                 }
              )
            } else {
                var user = sessionStorage.getItem('name');
                $(".card").html(" ");
               
                usr = user.toString().replace(/""/," " );
                $(".card").append("<h3 class='center greeting'> Welcome back" + usr + "!</h3>");
                $(window).fadeIn(
                setTimeout(location.href = "/homepage/HomePage", 90000)
            );
                }

        };
        $(document).ready(wireCookie);
    </script>
} 